In [1]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

In [2]:
# Example dataset
data = {
    "Age": [18, 22, 30, 40, 50],
    "Salary": [20000, 35000, 50000, 70000, 100000]
}

df = pd.DataFrame(data)
print("Original DataFrame:")
print(df)

Original DataFrame:
   Age  Salary
0   18   20000
1   22   35000
2   30   50000
3   40   70000
4   50  100000

In [3]:
# Initialize scaler
scaler = MinMaxScaler()

# Fit and transform
scaled = scaler.fit_transform(df)

In [4]:
# Put back into DataFrame
df_scaled = pd.DataFrame(scaled, columns=df.columns)

print("\nDataFrame after Min-Max Scaling:")
print(df_scaled)

DataFrame after Min-Max Scaling:
      Age  Salary
0  0.0000  0.0000
1  0.1250  0.1875
2  0.3750  0.3750
3  0.6875  0.6250
4  1.0000  1.0000